In [1]:
# Import Dependencies
import pandas as pd

In [2]:
# Read CSV into Pandas DataFrame
sentiment_df = pd.read_csv('../../res/training_tweets.csv')
sentiment_df.head()

,tweet_id,date,full_text,tweet_type,hashtags,mentions,user_location,place_type,place_name,place_full_name,...,prof_region,prof_sub_region,prof_full_name,prof_coord_lat,prof_coord_lng,reply_count,quote_count,likes_count,retweet_counts,hyperlink
0,1587957708166426625,Wed Nov 02 23:59:55 +0000 2022,@PapiiDev_ @aaronbricks69 @Barstooldmv Man ppl...,Reply Tweet,NaN,"['@PapiiDev_', '@aaronbricks69', '@Barstooldmv']","Indianapolis, IN",NaN,NaN,NaN,...,Indiana,Marion County,"Indianapolis, Indiana, United States",-86.15804,39.76838,1,0,0,0,https://twitter.com/twitter/status/15879577081...
1,1587957661085171712,Wed Nov 02 23:59:43 +0000 2022,"@watertigernyc Hey, now that NYC is open carry…",Reply Tweet,NaN,['@watertigernyc'],"New Jersey, USA",NaN,NaN,NaN,...,New Jersey,NaN,"New Jersey, United States",-74.49987,40.16706,0,0,2,0,https://twitter.com/twitter/status/15879576610...
2,1587957440494141441,Wed Nov 02 23:58:51 +0000 2022,.@KaneGovernment decides new gun law not ready...,Original Tweet,NaN,"['@KaneGovernment', '@dailyherald']","Kane County, IL.",NaN,NaN,NaN,...,Illinois,Greene County,"Kane, Illinois, United States",-90.35373,39.19005,0,0,0,0,https://twitter.com/twitter/status/15879574404...
3,1587957427823349760,Wed Nov 02 23:58:48 +0000 2022,@thediva76 @iamjadebrieanne @brolys_maiden @un...,Reply Tweet,NaN,"['@thediva76', '@iamjadebrieanne', '@brolys_ma...","Washington, DC",NaN,NaN,NaN,...,"Washington, D.C.",NaN,"Washington, D.C., United States",-77.00025,38.91706,1,0,0,0,https://twitter.com/twitter/status/15879574278...
4,1587957397422841861,Wed Nov 02 23:58:41 +0000 2022,HipHop needs to go on strike! No more gun play...,Original Tweet,NaN,NaN,douglasville,NaN,NaN,NaN,...,Georgia,Douglas County,"Douglasville, Georgia, United States",-84.74771,33.75150,0,0,0,0,https://twitter.com/twitter/status/15879573974...

In [3]:
# Check if Tweet_id is unique
sentiment_df.tweet_id.is_unique

True

In [4]:
# Data information
sentiment_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8801 entries, 0 to 8800
Data columns (total 25 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   tweet_id           8801 non-null   int64
 1   date               8801 non-null   object
 2   full_text          8801 non-null   object
 3   tweet_type         8801 non-null   object
 4   hashtags           1366 non-null   object
 5   mentions           6147 non-null   object
 6   user_location      8781 non-null   object
 7   place_type         244 non-null    object
 8   place_name         244 non-null    object
 9   place_full_name    244 non-null    object
 10  country_code       244 non-null    object
 11  country            244 non-null    object
 12  prof_country       8747 non-null   object
 13  prof_country_code  8747 non-null   object
 14  prof_locality      4645 non-null   object
 15  prof_region        7680 non-null   object
 16  prof_sub_region    4477 non-null   object
 17  prof_full_name     8747 non-null   object
 18  prof_coord_lat     8747 non-null   float64
 19  prof_coord_lng     8747 non-null   float64
 20  reply_count        8801 non-null   int64
 21  quote_count        8801 non-null   int64
 22  likes_count        8801 non-null   int64
 23  retweet_counts     8801 non-null   int64
 24  hyperlink          8801 non-null   object
dtypes: float64(2), int64(5), object(18)
memory usage: 1.7+ MB

In [5]:
# Length of the dataset
print("Length of the data is", len(sentiment_df))

Length of the data is 8801

In [6]:
# Add new column for sentiment analysis
new_sentiment_df = sentiment_df[['tweet_id','full_text']]
new_sentiment_df.insert(2,"sentiment", '')
new_sentiment_df.head()

,tweet_id,full_text,sentiment
0,1587957708166426625,@PapiiDev_ @aaronbricks69 @Barstooldmv Man ppl...,
1,1587957661085171712,"@watertigernyc Hey, now that NYC is open carry…",
2,1587957440494141441,.@KaneGovernment decides new gun law not ready...,
3,1587957427823349760,@thediva76 @iamjadebrieanne @brolys_maiden @un...,
4,1587957397422841861,HipHop needs to go on strike! No more gun play...,

In [7]:
# Function to split dataframe
def split_dataframe_by_position(df, splits):
    """
    Takes a dataframe and an integer of the number of splits to create.
    Returns a list of dataframes.
    """
    dataframes = []
    index_to_split = len(df) // splits
    start = 0
    end = index_to_split
    for split in range(splits):
        temporary_df = df.iloc[start:end, :]
        dataframes.append(temporary_df)
        start += index_to_split
        end += index_to_split
    return dataframes

In [8]:
# Splitting Dataframe into 4 dataFrames
split_dataframes = split_dataframe_by_position(new_sentiment_df, 4)

In [9]:
# Save 1st Dataframe to csv file
split_dataframes[0].to_csv('../dana/dana_sentiment_analysis.csv', index=False)

In [10]:
# Save 2nd Dataframe to csv file
split_dataframes[1].to_csv('../keerti/keerti_sentiment_analysis.csv', index=False)

In [11]:
# Save 3rd Dataframe to csv file
split_dataframes[2].to_csv('../david/david_sentiment_analysis.csv', index=False)

In [12]:
# Save 4th Dataframe to csv file
split_dataframes[3].to_csv('../kevin/kevin_sentiment_analysis.csv', index=False)